In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("satsuite.sqlite", isolation_level=None,
                       detect_types=sqlite3.PARSE_COLNAMES)
db_df = pd.read_sql_query("SELECT * FROM questionDetails WHERE section='Math'", conn)

In [24]:
db_df.head(3)

,item_id,section,prompt,body,passage_directions,passage_attribution,passage_body,style,correct_choice,rationale,a,b,c,d
0,026874-DC,Math,"<p class=""stem_paragraph "">In the given triang...","<div class=""stimulus_reference "">\n <di...",None,None,None,Multiple Choice,b,"<p>Choice B is correct. Since <span class=""mat...","<p class=""choice_paragraph "">36</p>\n","<p class=""choice_paragraph "">46</p>\n","<p class=""choice_paragraph "">58</p>\n","<p class=""choice_paragraph "">70</p>\n"
1,029423-DC,Math,"<p><img src=""data:image/png;base64,iVBORw0KGgo...","<div xmlns=""http://www.imsglobal.org/xsd/apip/...",None,None,None,Multiple Choice,b,<p>Choice B is correct. Two lines are parallel...,"<p class=""choice_paragraph "">\n <sp...","<p class=""choice_paragraph "">\n <sp...","<p class=""choice_paragraph "">\n <sp...","<p class=""choice_paragraph "">\n <sp..."
2,027075-DC,Math,"<p class=""stem_paragraph "">In the given figure...","<div class=""stimulus_reference "">\n <di...",None,None,None,Multiple Choice,d,"<p>Choice D is correct. Since <span class=""mat...","<p class=""choice_paragraph "">110</p>\n","<p class=""choice_paragraph "">70</p>\n","<p class=""choice_paragraph "">55</p>\n","<p class=""choice_paragraph "">40</p>\n"

In [18]:
print(db_df.columns)
print(*db_df.columns)

Index(['item_id', 'section', 'prompt', 'body', 'passage_directions',
       'passage_attribution', 'passage_body', 'style', 'correct_choice',
       'rationale', 'a', 'b', 'c', 'd'],
      dtype='object')
item_id section prompt body passage_directions passage_attribution passage_body style correct_choice rationale a b c d

In [3]:
column_ID=[]
for i in db_df.columns:
    print(i)
    column_ID.append(i)

item_id
section
prompt
body
passage_directions
passage_attribution
passage_body
style
correct_choice
rationale
a
b
c
d

In [21]:
print(column_ID)

['item_id', 'section', 'prompt', 'body', 'passage_directions', 'passage_attribution', 'passage_body', 'style', 'correct_choice', 'rationale', 'a', 'b', 'c', 'd']

In [4]:
for index in db_df.iterrows():
    # Process the row data
    # print(index)
    #print(row)
    for i in range(len(column_ID)):
        print(db_df.at[index, column_ID[i]])

TypeError: list indices must be integers or slices, not Series